[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
pandas-datareader = "*"
quandl = "*"
pyswisseph = {path = "./pyswisseph-2.5.1.post0-cp36-cp36m-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.6"
